{% extends "layout/layout.twig" %}

{% block title %}グループ作成
{% endblock %}

{% block page_content %}
<h1 style="text-align:center;font-size:30px;margin:5vh 0;">
  合コンを作成
</h1>
  <form id="makeGroup" method="POST" action="/make_group/" enctype="application/x-www-form-urlencoded">

    <div class="row">
      <div class="col-md-4 mb-3">
        <div class="form-group">
          <label for="goukon-name" style="border-left: solid 10px #4ab4c8;padding-left:3px;">合コン名</label>
          <textarea class="form-control" name="group_name" rows="1"></textarea>
        </div>
        <div class="invalid-feedback">
          合コン名を入力してください
        </div>
      </div>

      <div class="col-md-4 mb-3">
        <label for="kaisaibi" style="border-left: solid 10px #4ab4c8;padding-left:3px;">開催日</label>
        <select class="custom-select d-block w-100" name="event_date" required>
          <option value="">未選択</option>
          <option value="2019/09/19">2019/09/19</option>
          <option value="2019/09/20">2019/09/20</option>
          <option value="2019/09/21">2019/09/21</option>
        </select>
        <div class="invalid-feedback">
          開催日を選択してください
        </div>
      </div>

      <div class="col-md-4 mb-3">
        <label for="kibou-nennrei" style="border-left: solid 10px #4ab4c8;padding-left:3px;">希望する年齢層</label>
        <select class="custom-select d-block w-100" name="age_group" required>
          <option value="">未選択</option>
          <option value="20~25">20~25</option>
          <option value="25~30">25~30</option>
          <option value="30~35">30~35</option>
          <option value="35~40">35~40</option>
        </select>
        <div class="invalid-feedback">
          希望する年齢層を選択してください
        </div>
      </div>

      <div class="col-md-4 mb-3">
        <label for="kaisaitiiki" style="border-left: solid 10px #4ab4c8;padding-left:3px;">開催地域</label>
        <select class="custom-select d-block w-100" name="area" required>
          <option value="">未選択</option>
          <option value="東京">東京</option>
          <option value="大阪">大阪</option>
          <option value="名古屋">名古屋</option>
        </select>
        <div class="invalid-feedback">
          開催地域を選択してください
        </div>
      </div>

      <div class="col-md-4 mb-3">
        <label for="saidaininnzuu" style="border-left: solid 10px #4ab4c8;padding-left:3px;">最大人数</label>
        <select class="custom-select d-block w-100" name="max_people" required>
          <option value="">未選択</option>
          <option value="4人">4人</option>
          <option value="6人">6人</option>
          <option value="8人">8人</option>
        </select>
        <div class="invalid-feedback">
          最大人数を選択してください
        </div>
      </div>

      <div class="col-md-4 mb-3">
        <label for="meyasukakaku" style="border-left: solid 10px #4ab4c8;padding-left:3px;">目安価格</label>
        <select class="custom-select d-block w-100" name="price" required>
          <option value="">未選択</option>
          <option value="5000円">5000円</option>
          <option value="8000円">8000円</option>
          <option value="10000円">10000円</option>
        </select>
        <div class="invalid-feedback">
          目安目安を選択してください
        </div>
      </div>

      <div class="col-md-4 mb-3">
        <label for="entertainer" style="border-left: solid 10px #4ab4c8;padding-left:3px;">招待するエンターテイナー</label>
        <select class="custom-select d-block w-100" name="entertainer" required>
          <option value="">未選択</option>
          <option value="催眠術師">催眠術師</option>
          <option value="漫談家">漫談家</option>
          <option value="マジシャン">マジシャン</option>
        </select>
        <div class="invalid-feedback">
          Please provide a valid state.
        </div>
      </div>

      <div class="col-md-4 mb-3">
        <div class="form-group">
          <label for="goukon-pr" style="border-left: solid 10px #4ab4c8;padding-left:3px;">合コンPR</label>
          <textarea class="form-control" name="pr" rows="3"></textarea>
        </div>
        <div class="invalid-feedback">
          Please provide a valid state.
        </div>
      </div>

      <hr class="mb-4">
      <button class="btn btn-primary btn-lg btn-block" type="submit"
      style="background-color:#4ab4c8;border:none;margin:5vh 0">合コンを作成！</button>
    </form>
  </div>
{% endblock %}
