{#レイアウトを継承します#}
{% extends "layout/layout.twig" %}

{#HTMLのタイトルを定義します。#}
{% block title %}TOP{% endblock %}

{# 適用させたいスタイルシートのパスを指定します #}
{% block header_scripts_add %}
    {# 背景動画を表示させるスタイルを読み込みます。#}
    <link href="/assets/css/video.css" rel="stylesheet">
{% endblock %}

{#ここから表示したい情報を記載します。#}
{% block page_content %}
    <div class="box">
      <body background="/assets/img/top_image.jpg" style="background-size:cover"></body>
    </div>

            <!-- <div class="page-header text-center border"style="margin:10vh 0;">
                <h1 style="font-size: 6vh;color: white;">エンタメ合コン</h1>
            </div> -->
            <div class="title mx-auto" style="text-align:center;margin:5vh 0;">
              <img src="/assets/img/title.png" style="width:60vw;"/>
            </div>

            <p style="color:white;text-align:center;font-size:1.8vw">
              ありきたりな合コンに飽きてしまったあなたに！<br>
              凄腕のエンターテイナーを招待した素敵な合コンに参加できます。
            </p>
            <div class="select-button" style="text-align:center;margin:5vh 0;">
              <button type="button" class="btn btn-primary" style="background-color:#df614a;border:none;margin:3vh 5vw;"
              onclick="location.href = '/join_group/'">
                <h2 style="margin:3vh 3vw;">合コンに参加</h2>
                <p>
                  好みの条件で検索！
                </p>
              </button>
              <button type="button" class="btn btn-primary" style="background-color:#4ab4c8;border:none;margin:3vh 5vw;"
              onclick="location.href = '/make_group/'">
                <h2 style="margin:3vh 3vw;">合コンを開く</h2>
                <p>
                  合コンを手軽に企画！
                </p>
              </button>
            </div>
            <!-- <div class="page-header text/right">


              <div style="float:Left">

              <h1 input type="button" onclick="location.href = '/join_group/'
              "style="font-size: 50px; width:400px;height:120px;border-radius: 10px;">
              合コンに参加！<br>好みの条件で検索
              </h1>
          </div>
        </div>

            <div style="float:right">
            <div class="page-header text/left">
                  <h1 input type="button" onclick="location.href = '/make_group/'
                  "style="font-size: 50px; width:400px;height:250;border-radius: 10px"> 合コンを開く！<br>好みの条件で検索</h1>
                </div>
              </div>
        </div> -->
    <!-- </div> -->



{% endblock %}

{#共通フッタとして追記したい情報を記載します。#}
{% block footer_scripts_add %}{% endblock %}
